<!DOCTYPE html>
<html>
<head>
  <title>Fortran Live Runner</title>
</head>
<body>
  <h2>Fortran Live Runner</h2>
  <input class="fileName" placeholder="Enter file name"><br>
  <textarea class="codeText" placeholder="Enter Fortran code"></textarea><br>
  <button onclick="compileAndRun()">Compile & Run</button>
  <pre id="output"></pre>

  <div id="inputBox">
    <input id="inputField" placeholder="Enter input">
    <button onclick="sendInput()">Send</button>
  </div>

  <script src="../static/main.js"></script>
</body>
</html>
