<!DOCTYPE html>
<html>
<head>
  <title>Fortran Live Runner</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h2>Fortran Live Runner</h2>
  <input class="fileName" placeholder="Enter file name"><br><br>
  <textarea class="codeText" placeholder="Enter Fortran code here..."></textarea><br>
  <button onclick="compileAndRun()">Compile & Run</button>

  <pre id="output"></pre>

  <div id="inputBox">
    <input id="inputField" placeholder="Enter input">
    <button onclick="sendInput()">Send</button>
  </div>

  <script src="../static/main.js"></script>
</body>
</html>
